{% extends 'core/base.html' %}
{% load static %}

     {% block content %}

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{ item.product.imageURL }}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{item.product.product_name}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>₹{{ item.product.price}}</h5>

                </td>
                <td>
                  <div class="row ">
                    <div class=" row quantity col-md-6" style="width:20px; display:inline-block;">{{item.quantity}}</div>
                    <div class="  quantity col-md-6 qu-adj ">
                      <img data-product="{{item.product.id}}" data-action="add" style="width:20px;" class="chg-quantity update-cart" src="{% static  'assets/img/arrow-up.png' %}">

                      <img data-product="{{item.product.id}}" data-action="remove" style="width:20px; " class="chg-quantity update-cart" src="{% static  'assets/img/arrow-down.png' %}">
                    </div>
                  </div>
                </td>
                <td>
                  <h5>₹{{ item.get_total }}</h5>
                </td>
              </tr>
            {% endfor %}

              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="#">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>Quantity: {{order.get_cart_items}}</td>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub total:  ₹{{order.get_cart_total}}/-</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><a class="btn_1 checkout_btn_1" href="#">Checkout</a></td>
            </tr>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->

{% endblock %}