{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
     {% block content %}

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
              <form class="row " id = "form" action="" method="post" novalidate="novalidate">
                <div id="info">
                  <div class="col-md-12  form-group ">
                <input type="text" class="form-control  " id="first" name="name" placeholder="Full Name"/>
              </div>
                <div class="col-md-12 form-group ">
                <input type="text" class="form-control " id="email" name="email" placeholder="E-mail" />
              </div>
                </div>

              <div class="col-md-12 form-group ">
                <input type="text" class="form-control" id="number" name="phnumber" placeholder="Phonenumber"/>
              </div>

              <div class="col-md-12 form-group ">
                <input type="text" class="form-control" id="add1" name="address" placeholder="Address"/>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="state" name="state" placeholder="State"/>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="district" name="district" placeholder="District" />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" />
              </div>
                <button class="btn btn-primary form-control " id ="sub-btn">Submit</button>
                {% csrf_token %}
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                {% for item in items %}
                <li>
                  <a href="#">{{item.product.product_name}}
                    <span class="middle ">x{{item.quantity}}</span>
                    <span class="last">₹{{ item.get_total}}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>₹{{ order.get_cart_total }}</span>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: ₹50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>₹{{order.tot}}</span>
                  </a>
                </li>
              </ul>
              <div class="creat_account" id ="shiped">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <a class="btn_3 " id="cls" href="" style="display:none;">Proceed to Paypal</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
<script type="text/javascript">
  var total = '{{order.get_cart_total}}'

  if(user != 'AnonymousUser'){
      console.log("hello")
      document.getElementById('info').style.display = "none";
 }

  var form = document.getElementById('form')

  form.addEventListener('submit',function(e){

    e.preventDefault()
    console.log('Form submitted')
    document.getElementById('sub-btn').style.display="none";
    document.getElementById('cls').style.display="block";

  })
  document.getElementById('cls').addEventListener('click',function(e){
      submitFormData()
  })
  function submitFormData(){
       console.log("Payment bttn clicked")
       var userFormData={
          'name':null,
          'email':null,
          'total':total,
       }
       var shippingInfo ={
          'phnumber':null,
          'address':null,
          'state':null,
          'district':null,
          'zip':null,
       }
        shippingInfo.phnumber = form.phnumber.value
        shippingInfo.address = form.address.value
        shippingInfo.state = form.state.value
        shippingInfo.district = form.district.value
        shippingInfo.zip = form.zip.value

        if(user =='AnonymousUser'){
        userFormDate.name = form.name.value
        userFormDate.email = form.email.value

        }
        var url = '/process_order/'
        fetch(url,{
          method:'POST',
          headers:{
              'Content-Type':'applictaion/json',
              'X-CSRFToken':csrftoken,
          },
          body:JSON.stringify({'form':userFormData,'shipping':shippingInfo})

        })
        .then((response) => response.json())
        .then((data) => {
          console.log('Sucess:', data);
          alert('Transaction Completed');
          window.location.href = "{% url 'confirmation' %}"

        })

  }
</script>

  {% endblock %}