{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
     {% block content %}
<style>
  .hid{
  style="display:none;
  }
</style>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form class="row " action="" method="post" id="form">

              <div class="col-md-12 form-group p_star">
                {{form.name|as_crispy_field}}
              </div>
              <div class="col-md-6 ">
                {{form.phonenumber|as_crispy_field}}
              </div>
              <div class="col-md-6 ">
                {{form.email|as_crispy_field}}
              </div>
              <div class="col-md-12 ">
                {{form.address|as_crispy_field}}
              </div>
              <div class="col-md-12 ">
                {{form.state|as_crispy_field}}
              </div>
              <div class="col-md-12 ">
                {{form.district|as_crispy_field}}
              </div>
              <div class="col-md-12 ">
                {{form.zipcode|as_crispy_field}}
              </div>
                  {% csrf_token %}
               <div class="col-md-12 form-group">
                 <button  class=" form-control btn btn-secondary " id="sub-btn"  >Submit</button>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                {% for item in items %}
                <li>
                  <a href="#">{{item.product.product_name}}
                    <span class="middle ">x{{item.quantity}}</span>
                    <span class="last">₹{{ item.get_total}}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>₹{{ order.get_cart_total }}</span>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: ₹50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>₹{{order.tot}}</span>
                  </a>
                </li>
              </ul>
              <div class="creat_account" id ="shiped">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <a class="btn_3 " id="cls" href="{% url 'confirmation' %}"style="display:none;">Proceed to Paypal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
<script type="text/javascript">

  var form = document.getElementById('form')

  form.addEventListener('submit',function(e){

    e.preventDefault()
    console.log('Form submitted')
    document.getElementById('sub-btn').style.display="none";
    document.getElementById('cls').style.display="block";

  })
</script>

  {% endblock %}